---
import { Bars3Icon, XMarkIcon } from "@heroicons/react/24/outline";
import { Image } from "astro:assets";

import imgWordmark from "../assets/svgs/Wordmark.svg";
---

<header
  class="bg-neutral-50 dark:bg-neutral-950 fixed top-0 left-0 right-0 z-20 flex items-center justify-center shadow"
>
  <div
    class="container flex items-center justify-between gap-4 p-4 md:px-0 lg:p-0 lg:py-4"
  >
    <div class="lg:hidden">
      <Bars3Icon
        id="menu-icon"
        className="size-8 text-neutral-900 dark:text-neutral-50 lg:hidden"
      />
      <XMarkIcon
        id="close-icon"
        className="hidden size-8 text-neutral-900 dark:text-neutral-50 lg:hidden"
      />
    </div>

    <div class="flex w-full lg:w-auto">
      <Image
        class="place-self-start h-8 dark:hidden"
        src={imgWordmark}
        alt="Jonathan Bello"
      />
    </div>

    <nav
      id="navigator-menu"
      class="fixed -top-full left-0 right-0 flex flex-col items-center justify-center bg-neutral-50 p-6 py-8 shadow transition-[top] duration-300 ease-in-out dark:bg-neutral-950 lg:static lg:left-auto lg:right-auto lg:top-0 lg:flex lg:flex-1 lg:items-center lg:gap-4 lg:bg-transparent lg:p-0 lg:pt-1 lg:py-0 lg:shadow-none lg:transition-none"
      aria-label="Main navigation"
    >
      <ul
        class="container flex h-full flex-col items-start justify-end gap-8 font-text text-xl font-medium lg:flex-row lg:gap-8 lg:text-lg [&>li]:text-neutral-950 [&>li>a]:relative dark:[&>li]:text-neutral-50 lg:[&>li]:text-center"
      >
        <li>
          <a href="/">Inicio</a>
        </li>
        <li>
          <a href="/gdd">GDD</a>
        </li>
        <li>
          <a href="/sobre-nosotros">Sobre Nosotros</a>
        </li>
        <li>
          <a href="/contacto">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>

  <style>
    @reference "../styles/global.css";

    #navigator-menu a:is(.active)::after {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      width: 80%;
      height: 2px;
      @apply bg-primary-700 lg:w-full lg:-top-1;
    }
  </style>

  <script>
    // document.addEventListener("astro:page-load", () => {
    const barsIcon = document.querySelector("#menu-icon");
    const closeIcon = document.querySelector("#close-icon");
    const navigatorMenu = document.querySelector("#navigator-menu");
    const navigatorLinks = document.querySelector("#navigator-menu ul");

    if (navigatorMenu === null || barsIcon === null || closeIcon === null) {
      throw new Error("Element not found");
    }

    barsIcon.addEventListener("click", () => {
      barsIcon.classList.toggle("hidden");
      closeIcon.classList.toggle("hidden");
      navigatorMenu.classList.toggle("top-16");
    });

    closeIcon.addEventListener("click", () => {
      closeIcon.classList.toggle("hidden");
      barsIcon.classList.toggle("hidden");
      navigatorMenu.classList.toggle("top-16");
    });

    const path = window.location.pathname;
    const links = navigatorLinks?.querySelectorAll("a");

    links?.forEach((link) => {
      if (link.pathname === path) {
        link.classList.add("active");
      }
    });
    // });
  </script>
</header>
